/* HEADER */
#wrapper {
    margin: 0 auto;
    width: 100%;
}

header {
    height: 37vw;
    width: 100%;
    padding-top: -10vw;
    overflow: hidden;
    background: url('/images/about_us/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-txt {
    text-align: center;
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 37vw;
    padding: 10% 100px;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
}

.aboutus-title {
    font-family: 'Jockey One', sans-serif;
    font-size: 10vw;
    font-weight: normal;
    line-height: 130%;

}

/* CONTENT */
.overlaps {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top5" "top5" "top5" "top5" "top5" 
                        "tips" "tips" "tips" "tips" "tips";
}

.content {
    background-color: var(--color-primary);
    padding: 100px 150px;
    border-radius: 0 0 100px 0;
    grid-area: top5;
    z-index: 2;
}

.overlap {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "about" "about" "about" "about" "about" 
                        "contact" "contact" "contact" "contact" "contact";
}

.mid-content {
    background-color: var(--color-primary);
    width: 100%;
    padding: 100px 150px;
    border-radius: 100px 0 100px 0;
    margin-top: -100px;
    grid-area: about;
    z-index: 1;
}

/* WHO WE ARE */
.whoweare {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.daybreak {
    font-family: 'Jockey One', sans-serif;
    font-weight: 100;
    font-size: 4vw;
    width: 25vw;
    line-height: 160%;
    color: #2E2A2A;
    border: 10px solid #2E2A2A;
    border-radius: 20px;
    padding: 50px 150px 50px 40px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
}

.au-text {
    width: 50%;
    padding-left: 10%;
    color: var(--color-text);
}

h2 { font-size: 50px; }

@media (max-width: 1430px) {
    .content {
        padding: 100px 110px;
    }

    .daybreak {
        padding-right: 450px;
    }

    .au-text {
        width: 50%;
        padding-left: 15%;
    }
}

@media (max-width: 1239px) {
    .content {
        padding: 100px;
    }

    .daybreak {
        padding-right: 450px;
    }

    .au-text {
        width: 50%;
        padding-left: 10%;
    }
}

@media (max-width: 1115px) {
    .daybreak {
        font-size: 60px;
        padding-right: 350px;
    }

    .au-text {
        width: 55%;
        padding-left: 10%;
    }

    h2 { 
        font-size: 40px; 
    }
}

/* HOW WE STARTED */
.hws {
    width: auto;
    height: 50vw;
    border: 1px solid black;
    background-image: url("/images/about_us/how_we_started_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    grid-area: tips;
    grid-row-start: 5;
    position: relative;
}

.hws-gradient {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vw;
    background-image: linear-gradient(to right, rgba(33, 30, 30, 1) 15%, rgba(33, 30, 30, 0) 100%);
    padding: 100px 150px;
}

.hws-text {
    color: var(--color-text);
    padding: 200px 100px 20px 0;
    width: 60%;
}

@media (max-width: 1430px) {
    .hws, .hws-gradient {
        height: 60vw;
    }

    .hws-text {
        padding: 200px 100px 20px 0;
    }
}

@media (max-width: 1239px) {
    .hws, .hws-gradient {
        height: 70vw;
    }
}

@media (max-width: 1115px) {
    .hws-gradient {
        padding: 100px;
    }

    .hws-text {
        padding: 13% 0;
        width: 70%;
    }
}

/* WHAT WE AIM TO ACHIEVE */
.achieve-text {
    text-align: center;
    color: var(--color-text);
    padding-bottom: 20px;
}

.mission-vision {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.card {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    flex: 1;
    margin: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.card-title {
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 600;
}

.card-body {
    padding: 0 20px 10px 20px;
    text-align: center;
}

@media (max-width:1239px) {
    .mission-vision {
        padding: 0;
    }
}

/* MEET THE TEAM */
.meet {
    width: auto;
    height: 40vw;
    border: 1px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/about_us/au-minecraft.png");
    grid-area: contact;
    grid-row-start: 5;
    position: relative;
}

.meet-gradient {
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40vw;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
    padding: 10% 150px;
}

.meet-text {
    text-align: center;
}

.the-team {
    display: flex;
    flex-wrap: wrap;
}

.member { 
    flex: 1;
    margin-top: 20px;
}
.member p { font-size: 25px; }

.profiles {
    height: 25vh;
    margin: 15px;
    border-radius: 50%;
}

@media (max-width:1239px) {
    .profiles {
        height: 20vh;
    }

    .member p {
        font-size: 20px;
    }
}

@media (max-width: 1115px) {
    .meet, .meet-gradient {
        height: 50vw;
        padding-top: 15%;
    }
}