body {
    background-image: url('/images/controller_bg.png');
    background-repeat: repeat-y;
}

/* HEADER */
#wrapper {
    margin: 0 auto;
    width: 100%;
}

header {
    height: 43vw;
    width: 100%;
    overflow: hidden;
    background: url('/images/contact_us/cu_minecraft.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-txt {
    text-align: center;  
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 43vw;
    padding: 13% 100px;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
}

h1 { font-size: 5vw;  line-height: 130%;}

@media (max-width:1880px) {
    .header-txt {
        padding-top: 8%;
    }
}

@media (max-width: 1430px) {
    .h1 {
        font-size: 100px; 
        font-weight: 900px;
    }
}

@media (max-width:1024px) {
    .header-txt {
        padding-top: 15%;
    }
}

/* CONTENT */
.content {
    background-color: var(--color-primary);
    padding: 100px 200px;
    border-radius: 0 0 100px 0;
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: var(--color-text);
}

@media (max-width: 1430px) {
    .content {
        padding: 100px;
    }
}

@media (max-width: 1239px) {
    .content {
        padding: 70px;
    }
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.information {
    width: 50%;
    padding-left: 50px;
}

@media (max-width:1024px) {
    .information {
        padding-left: 0;
    }
}

.contact-form {
    width: 50%;
}

input[type=text], select {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 15px 20px;
    margin: 15px 0;
    display: inline-block;
    border-radius: 10px;
}

textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
}
  
.info {
    margin-top: 15px;
}

.icon {
    height: 35px;
    margin-right: 10px;
    justify-content: center;
}

.infos {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    align-items: center;
}

/* MODAL POP UP */
.submit {
    width: 50%;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px 15px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px 10px 100px 10px;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
    text-align: center;
}

#submit{
    color: var(--color-primary);
}

.submit:hover {
  background-color: #ddc700;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 250px auto;
    padding: 5px;
    background-color: var(--color-text);
    border-radius: 10px ;
    width: 40%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin: 10px;
    margin-top: 2vw;
    margin-left: 32px;
    text-align: left;
    font-family: Jockey One;
    color: var(--color-primary);
}

.popup .close {
    position: absolute;
    font-family: Jockey One;
    font-weight: bold;
    font-size: 3vw;
    color: var(--color-primary);
    top: 20px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
}

.popup .close:hover  {
    color: var(--color-secondary);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    margin: 20px;
    padding: 40px;
    border-radius: 10px ;
    font-family: Jockey One;
}


@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}


