/* HEADER */
#wrapper {
    margin: 0 auto;
    width: 100%;
}

header {
    height: 43vw;
    width: 100%;
    overflow: hidden;
    background: url('/images/home_page/home_header.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-txt {
    text-align: center;
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 43vw;
    padding: 15% 100px;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
}

h1 { font-size: 5vw; }

@media (max-width:1430px) {
    .header-txt {
        padding-top: 10%;
    }
}

@media (max-width:1239px) {
    h1 {
        font-size: 80px;
    }
}

@media (max-width:1115px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width:1024px) {
    .header-txt {
        padding-top: 13%;
    }

    h1 {
        font-size: 60px;
    }
}

@media (max-width:390px) {
    header {
        height: 70vw;
    }
    
    .header-txt {
        height: 70vw;
        padding: 13% 30px;
    }

    h1 {
        font-size: 10vw;
        line-height: 100%;
        margin-bottom: 10px;
    }

    p {
        font-size: 3vw;
    }
} */

/* CONTENT */
.overlaps {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top5" "top5" "top5" "top5" "top5" 
                        "tips" "tips" "tips" "tips" "tips";
}

.content {
    background-color: var(--color-primary);
    padding: 100px 150px;
    border-radius: 0 0 100px 0;
    grid-area: top5;
    z-index: 2;
}

.mid-content {
    background-color: var(--color-primary);
    width: 100%;
    padding: 10vw 7vw;
    border-radius: 100px 0 100px 0;
    margin-top: -100px;
    grid-area: about;
    z-index: 1;
}

@media (max-width:1430px) {
    .content, .mid-content {
        padding: 100px;
    }
}

@media (max-width:1024px) {
    .mid-content {
        padding: 80px;
    }
}

@media (max-width:390px) {
    .content {
        padding: 40px;
        border-radius: 0 0 50px 0;
    }
    
    .mid-content {
        padding: 40px;
        border-radius: 50px 0 50px 0;
    }
}

/* TOP 5 POPULAR GAMES */
.top5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.img1 {
    position: relative;
    width: 20%;
    height: 35vw;
    object-fit: cover;
    margin: 1vw;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.img2 {
    position: relative;
    width: 20%;
    height: 40vw;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.top5-text {
    width: 50%;
    margin-left: 5vw;
    margin-right: -100vw;
    color: var(--color-text);
    text-align: right;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

@media (max-width:1239px) {
    h2 {
        font-size: 40px;
    }
}

@media (max-width:390px) {
    h2 {
        font-size: 4.5vw;
        line-height: 130%;
    }

    .content p, .mid-content p {
        font-size: 2.5vw;
    }

    .img1 {
        border-radius: 5px;
        height: 45vw;
    }

    .img2 {
        border-radius: 5px;
        height: 50vw;
    }
}

/* BUTTONS */
.button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    max-width: fit-content;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

#right-btn {
    float: right;
}

@media (max-width:390px) {
    .button {
        margin-top: 10px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 2.5vw;
    }
}

/* TIPS */
.cp-tips {
    text-align: center;
    width: auto;
    height: 65vw;
    border: 1px solid black;
    background-image: url("/images/home_page/hp_tips.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: tips;
    grid-row-start: 5;
    position: relative;
}

.tips-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 75vw;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
    padding: 5% 150px;
}

.tips-text {
    color: var(--color-text);
    padding-top: 15vw;
}

.tips {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    flex: 1;
    margin: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.card-title {
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 600;
}

.card-body {
    padding: 0 20px 10px 20px;
}

.quote-from {
    text-align: end;
}

@media (max-width:1430px) {
    .cp-tips, .tips-gradient {
        height: 75vw;
    }

    .tips-gradient {
        padding: 100px;
    }
}

@media (max-width:1239px) {
    .tips-gradient {
        padding: 3% 70px;
    }
}

@media (max-width:1115px) {
    .cp-tips, .tips-gradient {
        height: 130vw;
    }
    
    .card {
        flex: 100%;
        margin: 20px 20%;
    }

    .tips-gradient {
        padding-top: 5%;
    }
}

@media (max-width:1024px) {
    .cp-tips, .tips-gradient {
        height: 125vw;
    }
}

@media (max-width:390px) {
    .cp-tips, .tips-gradient {
        height: 185vw;
    }

    .tips-gradient {
        padding: 20px;
    }

    .cp-tips p {
        font-size: 2.5vw;
    }

    .card {
        padding: 5px;
        margin: 10px 20px 5px 20px;
    }
    
    .card-title {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 2.5vw;
    }
}

/* ABOUT US */
.overlap {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "about" "about" "about" "about" "about" 
                        "contact" "contact" "contact" "contact" "contact";
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.aboutus-text {
    width: 50%;
    margin-right: 5%;
    color: var(--color-text);
}

.img4 {
    position: relative;
    width: 20%;
    height: 35vw;
    object-fit: cover;
    margin: 2vw 1vw 1vw 1vw;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.img3 {
    position: relative;
    width: 20%;
    height: 30vw;
    object-fit: cover;
    margin: 2vw 10px 1px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#au-text {
    margin-bottom: 5vw;
}

@media (max-width:390px) {
    .img4 {
        width: 20%;
        height: 75vw;
        margin: 0;
    }
    
    .img3 {
        width: 20%;
        height: 70vw;
        margin: 0 7px;
    }
}

/* CONTACT US */
.contactus {
    width: auto;
    height: 55vw;
    border: 1px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/home_page/minecraft.jpg");
    grid-area: contact;
    grid-row-start: 5;
    position: relative;
}

.contact-gradient {
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 55vw;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
    padding: 20vw 150px;
}

.contact-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.img5 {
    border-radius: 10px 10px 10px 100px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    border: .5vw solid #FFFFFF;
    width: 25vw;
    height: 25vw;
    margin: 0 5vw 0 5vw;
}

.contactus-text {
    width: 50%;
    color: var(--color-text);
}

@media (max-width:1430px) {
    .contactus, .contact-gradient {
        height: 55vw;
    }

    .contact-gradient {
        padding: 15% 20px;
    }

    .img5 {
        width: 30%;
    }
}

@media (max-width:1239px) {
    .img5 {
        height: 400px;
        margin-right: 8%;
    }
}

@media (max-width:1024px) {
    .contactus, .contact-gradient {
        height: 60vw;
    }
}

@media (max-width:390px) {
    .contactus, .contact-gradient {
        height: 80vw;
    }

    .contact-gradient {
        padding-top: 25%;
    }
    
    .contactus p {
        font-size: 2.5vw;
    }

    .img5 {
        height: 40vw;
        border-radius: 5px 5px 5px 50px;
        border: 1vw solid #FFFFFF;
    }
}


