body {
    background-image: url('/images/controller_bg.png');
    background-repeat: repeat-y;
}

/* HEADER */
#wrapper {
    margin: 0 auto;
    width: 100%;
}

header {
    height: 43vw;
    width: 100%;
    overflow: hidden;
    background: url('/images/top_games/bikerpubg.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-txt {
    text-align: center;
    color: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 43vw;
    padding: 13% 100px;
    background-image: linear-gradient(to top right, rgba(33, 30, 30, 1) 10%, rgba(33, 30, 30, 0) 100%);
}

h1 {
    font-size: 5vw;
}

@media (max-width:1430px) {
    .header-txt {
        padding: 7% 20px;
    }
}

@media (max-width:1239px) {
    h1 {
        font-size: 60px;
    }
}

@media (max-width:1024px) {
    .header-txt {
        padding-top: 13%;
    }

    h1 {
        font-size: 50px;
    }
}

@media (max-width:479px) {
    header {
        height: 70vw;
    }
    
    .header-txt {
        height: 70vw;
        padding: 13% 30px;
    }

    h1 {
        font-size: 10vw;
        line-height: 100%;
        margin-bottom: 10px;
    }

    p {
        font-size: 3vw;
    }
}

/*BUTTON TOP GAMES*/
.btn {
    color: var(--color-text);
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    background-color: var(--color-secondary);
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    margin: 50px 10px 0 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background: #ddc700;
}

@media (max-width:1024px) {
    .btn {
        border: 3px solid #FFFFFF;
    }
}

@media (max-width:479px) {
    .btn {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
        margin: 25px 5px 0 5px;
    }
}

/* CONTENT */
.valorant {
    background: url('/images/top_games/valorantbg.jpg') no-repeat center center;
    object-fit: cover;
    padding: 8vw;
    border-radius: 0 0 100px 0;
    height: 45vw;
    margin: 8vw 0;
    position: relative;
    border-radius: 0 0 100px 0;
}

.game-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45vw;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 90%);
    padding: 5vw 10vw;
    border-radius: 0 0 100px 0;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.game-img {
    position: relative;
    margin: 2vw;
}

.game-image {
    width: 22vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 0 100px;
    border: 15px solid var(--color-text);
}

.container-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.rank {
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.ranking {
    padding: 15px 35px 15px 25px;  
    background: var(--color-secondary);
    font-weight: 800;
    color: var(--color-text);
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.game-text {
    color: var(--color-text);
    width: 60%;
}

.game-title {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 1vw;
}

.callofduty {
    padding: 8vw ;
    border-radius: 100px 0 100px 0;
    margin-bottom: 8vw;
    background: url('/images/top_games/codbg.jpg') no-repeat center center;
    object-fit: cover;
    height: 45vw;
    width: 100%;
    position: relative;
}

.minecraft {
    padding: 5vw ;
    border-radius: 100px 0 100px 0;
    margin-bottom: 8vw;
    background: url('/images/top_games/mc_bg.jpg') no-repeat center center;
    object-fit: cover;
    height: 45vw;
    position: relative;
}

.pubg {
    padding: 5vw;
    border-radius: 100px 0 100px 0;
    margin-bottom: 8vw;
    background: url('/images/top_games/pubgbg.png') no-repeat center center;
    object-fit: cover;
    height: 45vw;
    position: relative;
}

.csgo {
    padding: 5vw ;
    border-radius: 100px 0 100px 0;
    margin-bottom: 8vw;
    background: url('/images/top_games/csbg.jpg') no-repeat center center;
    object-fit: cover;
    height: 45vw;
    position: relative;
}

@media (max-width:1430px) {
    .valorant,
    .minecraft,
    .pubg,
    .callofduty, 
    .csgo,
    .game-gradient {
        height: 95vh;
    }
}

@media (max-width:1239px) {
    .game-title {
        font-size: 60px;
    }

    .game-text p {
        font-size: 18px;
    }

    .game-image {
        width: 28vw;
        height: 36vw;
    }
}

@media (max-width:1115px) {
    .valorant,
    .minecraft,
    .pubg,
    .callofduty, 
    .csgo,
    .game-gradient {
        height: 83vh;
    }

    .game-gradient {
        padding: 5% 50px;
    }

    .game-text {
        margin-left: 4%;
    }
}

@media (max-width:1024px) {
    .valorant,
    .minecraft,
    .pubg,
    .game-gradient {
        height: 75vh;
    }

    .callofduty, .csgo, #longer-gradient {
        height: 82vh;
    }
}

@media (max-width:479px) {
    .game-info {
        justify-content: center;
        text-align: center;
    }
    
    .game-image {
        width: 40vw;
        height: 55vw;
        border: 8px solid var(--color-text);
    }

    .game-text {
        width: 100%;
        margin: 0;
    }

    .rank {
        margin: 5px;
    }
    
    .ranking {
        padding: 10px 20px 10px 15px;
        font-weight: 800;
        font-size: 4vw;
    }

    .game-gradient, #longer-gradient {
        height: auto;
        padding-bottom: 5vh;
    }

    .valorant { height: 86vh; }
    .callofduty { height: 94vh; }
    .minecraft, .pubg { height: 80vh; }
    .csgo { height: 111vh; }

    .pubg .game-title {
        font-size: 50px;
        line-height: 100%;
    }

    
}

/* BUTTON */
.button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    max-width: fit-content;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

#right-btn {
    float: right;
    margin-top: 50px;
}

@media (max-width:479px) {   
    .button {
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 3vw;
    }

    #right-btn {
        margin-top: 20px;
    }
}