/* FOOTER */
footer {
    color: var(--color-text);
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #151515;
}

footer p {
    margin-top: auto;  
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 50px;
    padding: 50px;
}

.f-subtitle {
    font-size: 1.3vw;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
}

.col-1 p {
    text-align: justify;
}

.col-2, .col-3, .col-4 { padding: 0 20px; }
#grid p, ul li { font-size: 1vw; }

.subscribe {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: "form button";
    column-gap: 10px;
}

.subscribe-form {
    grid-area: form;
    font-family: 'Poppins', sans-serif;
    background-color: #5C5C5C;
    border-radius: 5px;
    padding: 5px;
}

input[type=text] {
    padding: 10px;
}

.subscribe-btn {
    grid-area: button;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    font-size: 1.1vw;
    will-change: transform;
}

.subscribe-btn:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.footest ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: black;
}

.footest ul li {
    font-size: .8vw;
}

@media (max-width:1500px) {
    .subscribe {
        grid-template-columns: auto;
        grid-template-areas: "form" "button";
        row-gap: 10px;
    }
    
    .subscribe-btn {
        width: fit-content;
    }
}

@media (max-width: 1290px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 30px 100px;
        padding: 50px;
    }

    .col-2, .col-3, .col-4 { padding: 0; }

    .footest ul {
        display: block;
        text-align: center;
    }

    .footest ul li { margin: 5px; }
}

@media (max-width: 740px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        row-gap: 30px;
        padding: 50px;
        text-align: center;
    }

    .col-1, .col-2, .col-3, .col-4 { padding: 0; }

    .col-1 p {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .subscribe { display: block; }
    .subscribe-btn { margin-top: 10px; }
}

@media (max-width:390px) {
    #grid {
        padding: 30px;
    }

    .f-subtitle {
        font-size: 3.5vw;
        padding: 10px 0;
    }

    #grid p, ul li { font-size: 3vw; }

    input[type=text] {
        padding: 9px;
    }

    .subscribe-btn {
        font-size: 3vw;
        margin-left: 10px;
    }

    .footest ul li {
        font-size: 2.5vw;
        margin: 0;
    }
}

/* MODAL */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup2 {
    margin: 250px auto;
    padding: 5px;
    background-color: var(--color-text);
    border-radius: 10px ;
    width: 40%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup2 h2 {
    margin: 10px;
    margin-top: 2vw;
    margin-left: 32px;
    text-align: left;
    font-family: Jockey One;
    color: var(--color-primary);
}

.popup2 .close {
    position: absolute;
    font-family: Jockey One;
    font-weight: bold;
    font-size: 3vw;
    color: var(--color-primary);
    top: 20px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
}

.popup2 .close:hover {
    color: var(--color-secondary);
}

.popup2 .content {
    max-height: 30%;
    overflow: auto;
    margin: 20px;
    padding: 40px;
    border-radius: 10px ;
    font-family: Jockey One;
    color: var(--color-text);
    background-color: var(--color-primary);
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
